$colors: (
	left:lime,
	middle:gold,
	right:tomato,
);

$dark-colors:(
	left:rgb(27, 124, 27),
	middle:rgb(167, 142, 1),
	right:rgb(177, 65, 45),
);


body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #333;
	font-family: sans-serif;
}

.square{
	margin: 50px;
	width: 200px;
	height: 200px;
	border:5px solid black;
}

.item1{
	background-color: map-get($map: $colors, $key: left);
}

.item2{
	background-color: map-get($colors, middle);
}

.item3{
	background-color:map-get($colors, right);
}

.item4{
	background-color: map-get($map: $dark-colors, $key: left);
}

.item5{
	background-color: map-get($map: $dark-colors, $key: middle);
}

.item6{
	background-color: map-get($map: $dark-colors, $key: right);
}