* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	color: #fff;
	background-color: #333;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	color: #000;
}

section {
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	// justify-content: center;
	align-items: end;
	align-content: space-between;
	// align-content: center;
}
.square {
	width: 25%;
	text-align: center;
}

.one {
	background-color: gold;
}

.two {
	background-color: lime;
}

.three {
	background-color: royalblue;
}

.four {
	background-color: tomato;
}
