$main-color:rgb(184, 171, 60);

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: #333;
	font-family: sans-serif;
}

.box{
	margin: 20px auto;
	width:50%;
	height: 60px;
	border: 3px solid black;
	border-radius: 25px;
}

.color1{
	background-color: tomato;
}
.color2{
	background-color: $main-color;
}
.color3{
	background-color: tomato;
}
.color4{
	background-color: $main-color;
}
.color5{
	background-color: tomato;
}
.color6{
	background-color: $main-color;
}
.color7{
	background-color: tomato;
}
.color8{
	background-color: $main-color;
}